In [1]:
import pandas as pd
from collections import defaultdict
import warnings
import numpy as np

data = pd.read_csv(r"E:\XAI\datasets\data\india_stats.csv")
data.head()

warnings.filterwarnings('ignore')

In [2]:
data.drop(["ConfirmedIndianNational","ConfirmedForeignNational","Sno","Time","Deaths","Cured"],axis=1,inplace=True)
data.head()

         Date State/UnionTerritory  Confirmed
0  31-01-2020               Kerala          1
1  01-02-2020               Kerala          2
2  02-02-2020               Kerala          3
3  03-02-2020               Kerala          3
4  04-02-2020               Kerala          3

In [3]:
kldata=data[data["State/UnionTerritory"]=="Kerala"]
tndata=data[data["State/UnionTerritory"]=="Tamil Nadu"]
mhdata=data[data["State/UnionTerritory"]=="Maharashtra"]

In [4]:
def new_cases(df):
    '''calc new cases'''
    
    #shift by 1 row
    shift = df.Confirmed.shift(1)
    
    df['new_cases'] = df.Confirmed - shift
    df.dropna(inplace=True)
    df['new_cases'] = list(map(int,df.new_cases))
    return df

kldata=new_cases(kldata)
tndata=new_cases(tndata)
mhdata=new_cases(mhdata)

In [5]:
# state={"Kerala":kldata,"Tamil Nadu":tndata,"Maharashtra":mhdata}



# for i in state:
#     print(f"length of {i} : {state[i].shape}")
#     print("Dates are unique : ",len(state[i]["Date"].unique())==state[i].shape[0] ) #Checking for duplicates in date 
#     print("")

In [6]:
kldata.head()

         Date State/UnionTerritory  Confirmed  new_cases
1  01-02-2020               Kerala          2          1
2  02-02-2020               Kerala          3          1
3  03-02-2020               Kerala          3          0
4  04-02-2020               Kerala          3          0
5  05-02-2020               Kerala          3          0

In [7]:
# kldata.to_csv(r"E:\XAI\datasets\processed\kl_cases.csv")
# tndata.to_csv(r"E:\XAI\datasets\processed\tn_cases.csv")
# mhdata.to_csv(r"E:\XAI\datasets\processed\mh_cases.csv")

In [8]:
mhdata.head()

           Date State/UnionTerritory  Confirmed  new_cases
90   10-03-2020          Maharashtra          5          3
96   11-03-2020          Maharashtra          8          3
119  12-03-2020          Maharashtra         11          3
132  13-03-2020          Maharashtra         14          3
145  14-03-2020          Maharashtra         14          0

In [9]:
tnclim = pd.read_csv(r"E:\XAI\datasets\data\tn_climate.csv")
klclim = pd.read_csv(r"E:\XAI\datasets\data\kl_climate.csv")
mhclim = pd.read_csv(r"E:\XAI\datasets\data\mh_climate.csv")

In [10]:
def clean(clim):
    count=0
    finalclim = pd.DataFrame()
    time=["08:30","11:30","14:30"]
    
    dt=defaultdict(int)
    dh=defaultdict(int)
    
    for i in range(len(clim)):
        tmp=clim.iloc[i,0]
        for j in time:
            if j in tmp:
                count+=1
                dt[clim.iloc[i,0][0:10]]+=clim.iloc[i,1]
                dh[clim.iloc[i,0][0:10]]+=clim.iloc[i,2]
    #             row.append(tnclim.iloc[i,1])
    #             row.append(tnclim.iloc[i,2])
    #             finaltntemp=finaltntemp.append([row])
    
    for i in dt:
        dt[i]=round(dt[i]/3,2)
    for i in dh:
        dh[i]=round(dh[i]/3,0)
    
    for i in dt:
        row=[]
        row.append(i)
        row.append(dt[i])
        row.append(dh[i])
        finalclim=finalclim.append([row])
        
    finalclim.rename(columns={0:"Date",1:"T",2:"U"},inplace=True)
    
    finalclim["T"].fillna(value=finalclim["T"].mean(),inplace=True)
    finalclim["U"].fillna(value=finalclim["U"].mean(),inplace=True)
    
    return finalclim.loc[::-1]

climtnclean=clean(tnclim)
climklclean=clean(klclim)
climmhclean=clean(mhclim)

In [11]:
# climmhclean.to_csv(r"E:\XAI\datasets\processed\mh_clim.csv")
# climklclean.to_csv(r"E:\XAI\datasets\processed\kl_clim.csv")
# climtnclean.to_csv(r"E:\XAI\datasets\processed\tn_clim.csv")

In [12]:
def addfeatures(sour,dest):
    t=list(sour["T"])
    h=list(sour["U"])
    if len(t)<len(dest):
        for i in range(len(dest)-len(t)):
            t.append(round(sum(t)/len(t),2))
            h.append(round(sum(h)/len(h),0))
    
    else:
        for i in range(len(t)-len(dest)):
            t.pop()
            h.pop()
            
    dest["T"]=t
    dest["H"]=h
    return dest

In [13]:
tnfinal = addfeatures(climtnclean,tndata)
klfinal = addfeatures(climklclean,kldata)
mhfinal = addfeatures(climmhclean,mhdata)

In [14]:
# tnfinal.to_csv(r"E:\XAI\datasets\final\final_tn.csv")
# klfinal.to_csv(r"E:\XAI\datasets\final\final_kl.csv")
# mhfinal.to_csv(r"E:\XAI\datasets\final\final_mh.csv")
tnfinal.head()

           Date State/UnionTerritory  Confirmed  new_cases      T     H
66   08-03-2020           Tamil Nadu          1          0  31.20  63.0
78   09-03-2020           Tamil Nadu          1          0  30.67  61.0
93   10-03-2020           Tamil Nadu          1          0  30.80  60.0
104  11-03-2020           Tamil Nadu          1          0  30.73  63.0
115  12-03-2020           Tamil Nadu          1          0  30.60  64.0

In [13]:
def trimdate(df):
    ndf = pd.DataFrame()
    for i in range(len(df)):
        if df.iloc[i,0]=='01-01-2021':
            
        else:
            dat = df.iloc[i,0].split("-")
            ndat = "/".join(dat)
            row = [ndat,df.iloc[i,1],df.iloc[i,2],df.iloc[i,3],df.iloc[i,4],df.iloc[i,5]]
            ndf=ndf.append([row])

In [14]:
tntrimmed = trimdate(tnfinal)
mhtrimmed = trimdate(mhfinal)
kltrimmed = trimdate(klfinal)

# tntrimmed.to_csv(r"E:\XAI\datasets\processed\tn.csv")
# mhtrimmed.to_csv(r"E:\XAI\datasets\processed\mh.csv")
# kltrimmed.to_csv(r"E:\XAI\datasets\processed\kl.csv")
kltrimmed.shape

(335, 6)